hero{
    height: 750px;
}

.navbar-brand {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;

  font-size: 24px;
}

.nav-link {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

/* hero */
.Hero{
    margin-top: 100px;
    min-height: 500px;
    background-color: red;
}
.hero-intro-text{
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color:grey;
}
.hero-name-text{
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.lead{
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: grey;
}


.heroImg{
  width: 400px;
}

.cta-btn{
  border-radius: 2rem;
}
.cta-btn:hover{
 transform: scale(1);
 background-color: white;
 color: black;
}


/* project */
.min-height-card{
  min-height: 400px;
}
.btn{
  margin-top: auto;
}

/* footer */
.footer-social{
  color: white;
}